// Color
$color-primary: #9251F7;
$color-secondary:#47516B;
$color-secondary-light:#79819A;
$color-secondary-dark: #2E2E48;
$color-tertiary:#516CF7;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #E5E5E5;

// Font-size
$default-color-text: #79819A;
$default-font-size: .5rem;
$default-font-weight: 400;